// https://github.com/mprimi/portable-secret

export const secret = {
  secretType: "message",
  secretExt: "",
  saltSize: 16,
  blockSize: 16,
  keySize: 32,
  iterations: 1000000,
  saltHex: "",
  ivHex: "",
  cipherHex: "",
};